
<ion-view view-title="MyJobs">
    <!-- <button ng-click="showConfirm(event)" class="button button-positive button-fab button-fab-bottom-right">
        <i class="icon ion-trash-a"></i>
    </button> -->
    <ion-content>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Mi perfil</strong>
            </div>
            <div class="im-wrapper">
                <div class="row">
                    <div class="col-25"></div>
                    <!-- <div class="col-50"> -->
                        <div class="col-50 profile-info profile-info--username">
                            <h4 class="border-top centered" ng-if="!perfilData.is_company">Username: {{perfilData.username}}</h4>
                            <h4 class="border-top centered" ng-if="perfilData.is_company">Username: {{perfilData.username}}</h4>
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'username')"><i class="ion-edit"></i></md-button>
                        </div>
                    <!-- </div> -->
                    <div class="col-25"></div>                    
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50 profile-info">
                        <label class="centered"><strong>Nombres: {{perfilData.name}}</strong></label>
                        <!-- <div ng-cloak class="container"> -->
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'name')"><i class="ion-edit"></i></md-button>
                            <!-- </div> -->
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row" ng-if="!perfilData.is_company">
                    <div class="col-25"></div>
                    <div class="col-50 profile-info">
                        <label class="centered"><strong>Apellidos: {{perfilData.lastname}}</strong></label>
                        <!-- <div ng-cloak class="container"> -->
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'lastname')"><i class="ion-edit"></i></md-button>
                            <!-- </div> -->
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50 profile-info">
                        <label class="centered"><strong>Email: {{perfilData.email}}</strong></label>
                        <!-- <div ng-cloak class="container"> -->
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'email')"><i class="ion-edit"></i></md-button>
                            <!-- </div> -->
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row" ng-if="perfilData.is_company">
                    <div class="col-25"></div>
                    <div class="col-50 profile-info">
                        <label class="centered"><strong>Descripción de la compañía: {{perfilData.company_description}}</strong></label>
                        <!-- <div ng-cloak class="container"> -->
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'company_description')"><i class="ion-edit"></i></md-button>
                            <!-- </div> -->
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row" ng-if="perfilData.is_company">
                    <div class="col-25"></div>
                    <div class="col-50 profile-info">
                        <label class="centered"><strong>Dirección de contacto: {{perfilData.address}}</strong></label>
                        <!-- <div ng-cloak class="container"> -->
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'address')"><i class="ion-edit"></i></md-button>
                            <!-- </div> -->
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row" ng-if="perfilData.is_company">
                    <div class="col-25"></div>
                    <div class="col-50 profile-info">
                        <label class="centered"><strong>Teléfono de contacto: {{perfilData.phone}}</strong></label>
                        <!-- <div ng-cloak class="container"> -->
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'phone')"><i class="ion-edit"></i></md-button>
                            <!-- </div> -->
                    </div>
                    <div class="col-25"></div>                    
                </div>
                    <div class="row" ng-if="!perfilData.is_company">
                        <div class="col-25"></div>
                        <div class="col-50 profile-info">
                            <label class="centered"><strong>Carrera: {{perfilData.career | careerDisplay | titleCase}}</strong></label>
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'career')"><i class="ion-edit"></i></md-button>
                        </div>
                        <div class="col-25"></div>                    
                    </div>
                    <div class="row" ng-if="!perfilData.is_company">
                        <div class="col-25"></div>
                        <div class="col-50 profile-info">
                            <label class="centered"><strong>Semestre: {{perfilData.semester}}</strong></label>
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'semester')"><i class="ion-edit"></i></md-button>
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row">
                        <!-- <div class="col-25"></div>                     -->
                        <div class="col-25"></div>                    
                        <div class="col-20"></div>                    
                        <div class="col-50">
                            <md-button class="md-primary md-raised" ng-click="showAdvanced($event, 'password')">Change password</md-button>
                        </div>
                </div>
                <h4 class="border-top centered" ng-if="!perfilData.is_company"><i class="icon ion-ios-paper"></i>Historial de trabajo</h4>
                <h4 class="border-top centered" ng-if="perfilData.is_company"><i class="icon ion-ios-paper"></i>Ofertas de trabajo</h4>
                <div ng-if="perfilJobs.length == 0">
                        <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                            <img src="img/material4.jpg">
                            <h2>No one yet</h2>
                            <!-- <p>Cargo <br> -->
                                <!-- Inicio: 12/12/12, Fin 12/12/13</p> -->
                        </ion-item>
                        <br>
                </div>
                <ion-item nav-clear menu-close class="item-icon-right item-avatar item-profile" ng-click="auth()" ng-if="!perfilData.is_company"  ng-repeat="job in perfilJobs">
                    <img src="img/material4.jpg">
                    <h2><strong>{{job.name}} Company</strong></h2>
                    <!-- <h4><strong>{{job.description}}</strong></h4> -->
                    <h4><strong>{{job.description}}</strong></h4>
                    <h4>{{job.career | careerDisplay | titleCase}}</h4>
                    <p>Nombre de contacto: {{job.contact_name}}</p>
                    <p>Teléfono: {{job.contact_phone}}</p>
                    <p>Salario: {{job.salary}}  &dollar;</p>
                    <p>Vacantes: {{job.vacants}}</p>
                    <p>Contratados: {{job.hired_users}}</p>
                    <p>Inicio: {{job.start_date}}, Fin: {{job.end_date}}</p>
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-right item-avatar item-profile" ng-click="auth()" ng-if="perfilData.is_company" ng-repeat="job in perfilJobs">
                    <img src="img/material4.jpg">
                    <!-- <h2><strong>{{job.name}}</strong></h2> -->
                    <h4><strong>{{job.description}}</strong></h4>
                    <h4>{{job.career | careerDisplay | titleCase}}</h4>
                    <p>Nombre de contacto: {{job.contact_name}}</p>
                    <p>Teléfono: {{job.contact_phone}}</p>
                    <p>Salario: {{job.salary}}  &dollar;</p>
                    <p>Vacantes: {{job.vacants}}</p>
                    <p>Contratados: {{job.hired_users}}</p>
                    <p>Inicio: {{job.start_date}}, Fin: {{job.end_date}}</p>
                </ion-item>
            </div>
        </ion-content>
    </ion-view>