
<ion-view view-title="MyJobs">
        <button ng-click="fab()" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-edit"></i>
        </button>
        <ion-content>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Mi perfil</strong>
            </div>
            <div class="im-wrapper">
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                            <h4 class="border-top centered">Nombre del man</h4>
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <h5 class="centered">Email: mail@mail.com</h5>
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <h5 class="centered">Telefono: 3008989898</h5>
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <h5 class="centered">Dirección: Direccion del man</h5>
                    </div>
                    <div class="col-25"></div>                    
                </div>
                <h4 class="border-top centered"><i class="icon ion-ios-paper"></i>Historial de trabajo</h4>
                <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fab()">
                    <img src="img/material4.jpg">
                    <h2>Empresa</h2>
                    <p>Cargo <br>
                    Inicio: 12/12/12, Fin 12/12/13</p>
                </ion-item>
            </div>
        </ion-content>
    </ion-view>