
<ion-view view-title="MyJobs">
        <button ng-click="fab()" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-search"></i>
        </button>
        <ion-content>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Empresas</strong>
            </div>
            <div class="im-wrapper">
                <!-- List view -->
                <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fab()">
                    <img src="img/material4.jpg">
                    <h2>Empresa</h2>
                    <p>Nombre de la empresa</p>
                    <!--<i class="icon ion-chatbubble muted"></i>-->
                </ion-item>
            </div>
        </ion-content>
    </ion-view>