
<ion-view view-title="MyJobs">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Empresa</strong>
        </div>
        <div class="im-wrapper">
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                        <h4 class="border-top centered">Nombre de la empresa</h4>
                </div>
                <div class="col-25"></div>                    
            </div>
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <h5 class="centered">Email: mail@mail.com</h5>
                </div>
                <div class="col-25"></div>                    
            </div>
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <h5 class="centered">Telefono: 3008989898</h5>
                </div>
                <div class="col-25"></div>                    
            </div>
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <h5 class="centered">Dirección: Direccion de la empresa</h5>
                </div>
                <div class="col-25"></div>                    
            </div>
            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <p class="centered"><b>Descripción:</b> Lorem ipsum vitae, nostrum vitum date nante pante sante rante lante milante palante restante la persona pensante que tiene anante pante dante lante date pante lante sante</p>
                </div>
                <div class="col-25"></div>                    
            </div>
        </div>
    </ion-content>
</ion-view>

        