
<ion-view view-title="MyJobs">
    <button ng-click="fab()" class="button button-positive button-fab button-fab-bottom-right">
        <i class="icon ion-search"></i>
    </button>
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Ofertas de trabajo</strong>
        </div>
        <div class="im-wrapper">
            <!-- List view -->
            <div class="list card stable-bg">
                    <div class="item item-avatar">
                        <img src="img/arya.jpg">
                        <h2>Empresa de la oferta</h2>
                        <p>Descripcion de la oferta de trabajo</p>
                    </div>
                    <div class="item item-body">
                        Requerimientos de la oferta de trabajo
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                                <i class="icon ion-android-checkbox-outline"></i> Aplicar
                            </a>
                        </div>
                </div>
        </div>
    </ion-content>
</ion-view>
