<ion-view>
    <ion-content>
        <div class="login-form">
            <h2 class="centered">Inicio de sesión</h2>
            <form name="loginForm">
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input required type="email" placeholder="E-mail">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Contraseña</span>
                    <input required type="password" placeholder="Contraseña">
                </label>
            </form>
        </div>
        <button ng-click="login()" class="button button-block button-calm">Iniciar sesion</button>
        <button ng-click="create()" class="button button-block button-calm">Crear cuenta</button> 
    </ion-content>
</ion-view>

<!-- <div class="bar bar-footer">
    <button class="button button-clear">Left</button>
    <button class="button button-clear">Right</button>
</div> -->